header {
    background: orange;
    padding: 12px 20px;
display: flex;
align-items: center;
justify-content: space-between;

}
footer{
    padding: 12px 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
       background-color: black;
       color: yellow;

}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;

}

.logo img {
    height: 30px;

}
.footer__copy {
    display:flex;
align-content: space-between;
}
.footer__nav {
display: grid;
gap: 10px;
}
.footer__nav a:hover {
    color: blueviolet;
}
.header__menu,
.header_menu >span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;

}
.header__menu>span>* {
    cursor: pointer;
}
.header__menu svg:hover {
    fill:red;
}
/* тоже самое 
.header__menu a:hover ,
.header__menu svg:hover{
    color:red;
}*/